 table.button.button-bonus table td  {
 	text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: $button-bonus;
    
    &:hover{
        text-align: center;
        color: #ffffff;
        background: $button-bonus;
    }
}

 table.button-another table td  {
 	text-align: center;
    color: #ffffff;
    background: $button-another;
    
    &:hover{
    	background: $button-another;
    }

}