th span.info {
	color: $gray;
	font-size: 12px;
	text-align: justify;
}

th span.condition-onlyForYou {
font-size:11px; 
color: $gray;
padding-left: 13px;
}

ul.info-onlyForYou{
	padding: 0 0 0 13px;
}