
.text-special-21px-color1 {
	color:  $text-special-color-1;
	font-size: 21px;
}
.text-special-24px-color1 {
	color:  $text-special-color-1;
	font-size: 24px;
}


.text-special-21px-color2 {
	color:  $text-special-color-2;
	font-size: 21px;
}
.text-special-24px-color2 {
	color:  $text-special-color-2;
	font-size: 24px;
}
