.columns {
	.unsubscribe {
		padding: 30px 0;
		background: transparent;
	}
	.unsubscribe-text {
		color: $gray;
		font-size: 11px;
		line-height: 13px;
	}
	.site {
		color: $blue;
		text-decoration: none; 
	}

	.here {
		color: $gray;
		text-decoration: underline;
	}
}


