<row dir="rtl">
  <columns dir="ltr" small="12" large="4" class="book-image-right" >
    		<a href="{{book-link}}">
    			<center>
    				<img class="book-image" src="{{book-image-url}}">
    			</center>
    		</a>
  </columns>

  <columns dir="ltr" small="12" large ="8" class="book-description-left" >
    		<span class="block-caption">{{block-caption}}</span>
  		<spacer size="7"></spacer>
    		<span><b>{{book-caption}}</b></span>
    		<spacer size="7"></spacer>
    		<span>{{book-annotation}}</span>
    		<spacer size="7"></spacer>
    		<button class="radius book-block-button-right" href="{{book-link}}">{{button-buy}}</button>
  </columns>
</row>


