<row>
  <columns small="12" large="4" class="book-image-left">
    		<a href="{{link}}">
    			<center>
    				<img width="200" class="book-image" src="{{image}}">
    			</center>
    		</a>
  </columns>

  <columns small="12" large ="8" class="book-description-right" >
    		<span  class="block-caption">{{block-caption}}</span>
    		<spacer size="7"></spacer>
    		<span ><b>{{book-caption}}</b></span>
    		<spacer size="7"></spacer>
    		<span >{{book-annotation}}</span>
    		<spacer size="7"></spacer>
    		<button class="radius book-block-button" href="{{link}}">{{button}}</button>
  </columns>
<row>

