<container>
  <spacer size="40"></spacer>
  <row>
    <columns small="12" large="5" class="book-image-left">
      		<a href="{{link}}">
      			<center>
      				<img width="200" class="book-image" src="{{image}}">
      			</center>
      		</a>
    </columns>

    <columns small="12" large ="7" class="book-description-right" >
      		<span  class="block-caption">{{block-caption}}</span>
      		<spacer size="7"></spacer>
      		<span ><b>{{book-caption}}</b></span>
      		<spacer size="7"></spacer>
      		<span >{{book-annotation}}</span>
      		<spacer size="7"></spacer>
      		<button class="radius success book-block-button" href="{{link}}" >Купить</button>
    </columns>
  </row>
</container>

