<container>
	<row>
	    <columns>
	        <span style="font-size:11px; color: #999999;"> Условия акции:</span>
	        
	        <ul class="info-onlyForYou">
				<li>Акция действует {{date}}.</li>
				<li>В акции участвует только интернет-магазин*.</li>
				<li>Скидка по акции не суммируется со скидками по другим акциям, а также со скидкой по картам лояльности сети магазинов &laquo;Читай-город&raquo; и &laquo;Гоголь-Моголь&raquo;.</li>
				<li>Оплата бонусами товара, приобретенного по акции, возможна.</li>
				<li>Начисление бонусов за товар, приобретённый по акции, не производится.</li>
				<li>В акции участвует ограниченный список товаров.</li>
				<li>Список товаров-участников и вся информация об акции предоставляются по телефону 8-800-444-8-444 и на сайте www.chitai-gorod.ru.</li>
			</ul>
			<span style="font-size:11px; color: #999999;">*Интернет-магазин: ООО &laquo;Новый Книжный Центр&raquo;, г.&nbsp;Москва, Огородный проезд, д.&nbsp;20, стр.&nbsp;27, пом.&nbsp;14, ОГРН 1027700282763</span>
			
	    </columns>
    </row>
</container>