<container>
	<row>
	    <columns>
	        <span style="font-size:11px; color: #26a9e0;"> Условия использования:</span>
	        
	        <ul class="info-onlyForYou">
				<li>Купон действует до {{date}} включительно;</li>
				<li>Скидка предоставляется только в интернет-магазине* chitai-gorod.ru;</li>
				<li>Скидка по купону не суммируется с другими скидками в интернет-магазине;</li>
				<li>Купоном можно воспользоваться только один раз. В случае отмены заказа с активированным купоном, скидка не восстанавливается;</li>
				<li>Вся информация об Акции, в частности, о сроках её проведения, об организаторе, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444.</li>
			</ul>
			
	    </columns>
	</row>
</container>