<container>
<row>
	<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/1263.jpg">
</row>
<row>
	<columns large="6" class="coupon-image coupon-summer">
		<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/1264.jpg">
	</columns>
	<columns large="4" class="coupon-number summer coupon-summer">
		<center><span class="coupon-number-color">[[coupon]]</span></center>
	</columns>
	<columns large="2" class="coupon-summer"></columns>
</row>
<row>
	<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/1265.jpg">
</row>
<row>
	<columns class="coupon-summer">
		<center>
			<span class="coupon-text">{{text}}</span>
		</center>
	<spacer size="12"></spacer>
	</columns>
</row>
</container>