<row>
	<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2586.jpg">
</row>
<row>
	<columns large="6" class="coupon-image coupon-winter">
		<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2587.jpg">
	</columns>
	<columns large="4" class="coupon-number winter coupon-winter">
		<center><span class="coupon-number-color">[[coupon]]</span></center>
	</columns>
	<columns large="2" class="coupon-winter"></columns>
</row>
<row>
	<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2588.png">
</row>
<row>
	<columns class="coupon-winter">
		<center>
			<span class="coupon-text">{{text}}</span>
		</center>
		<spacer size="12"></spacer>
	</columns>
</row>
