<container>
<row>
	<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2039.png">
</row>
<row>
	<columns large="6" class="coupon-image coupon-autumn">
		<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2040.png">
	</columns>
	<columns large="4" class="coupon-number autumn coupon-autumn">
		<center><span class="coupon-number-color">[[coupon]]</span></center>
	</columns>
	<columns large="2" class="coupon-autumn"></columns>
</row>
<row>
	<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/2041.png">
</row>
<row>
	<columns class="coupon-autumn">
		<center>
			<span class="text">{{text}}</span>
		</center>
		<spacer size="12"></spacer>
	</columns>
</row>
</container>
