<container>
	<row>
		<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/186.jpg">
	</row>
	<row>
		<columns large="6" class="coupon-image coupon-spring">
			<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/187.jpg">
		</columns>
		<columns large="4" class="coupon-number spring coupon-spring">
			<center><span class="coupon-number-color">[[coupon]]</span></center>
		</columns>
		<columns large="2" class="coupon-spring"></columns>
	</row>
	<row>
		<img src="http://multimedia.gr.chitai-gorod.ru/chitaigorod/1/1/photos/188.jpg">
	</row>
	<row>
		<columns class="coupon-spring">
			<center>
				<span class="coupon-text">{{text}}</span>
			</center>
			<spacer size="12"></spacer>
		</columns>
	</row>
</container>