<container class="footer-radius">
  <row class="footer-radius">
    
    <columns small="12" large="5" class="social small-text-center footer">
    	<p class="social-text small-text-center">Следуйте за Читай-городом:</p>
    </columns>

    <columns small="12" large="7" class="social-image footer">
    	<p class="small-text-center text-right">
        &nbsp;<a href="http://vk.com/chitaigorod" class="social">
      		<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2788.png">
    	  </a>
        &nbsp;<a href="http://www.facebook.com/chitaigorod" class="social">
      	 	<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2789.png">
      	</a>
        &nbsp;<a href="http://twitter.com/chitaigorod" class="social">
        	<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2790.png">
    	  </a>
        &nbsp;<a href="http://ok.ru/chitaigorod" class="social">
      		<img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2791.png">
    	  </a>
        &nbsp;<a href="https://www.instagram.com/chitai_gorod/" class="button social instagram">
     		   <img src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2792.png">
    	  </a>
        &nbsp;<a href="https://www.youtube.com/channel/UCbsqXVnwSqer9QttshVs76A" class="social">
     		  <img  src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2793.png">
    	  </a>
    </p>
    
    </columns>
  </row>
</container>