<container class="header-radius">
	<row class="header-radius">
		<columns small="7" large="6" style="padding-right: 0 !important;" >
			<spacer size="24"></spacer>
		  		<a href="https://chitai-gorod.ru"><img class="logo" src="https://m.gr-cdn-e.eu/chitaigorod/1/1/photos/2056.png"></a>
		  	<spacer size="24"></spacer>
		</columns>

		<columns small="5" large ="6" style="padding-left: 0 !important;">
			<spacer size="24"></spacer>
		  	<p class="text-right">
		  		<a class="header__login" href="https://chitai-gorod.ru">Войти</a>
		  		<br /><br />
		  		<a class="header__site " href="https://chitai-gorod.ru">www.chitai-gorod.ru</a>
		  	</p>
			<spacer size="24"></spacer>
		</columns>
	</row>
</container>