
	<menu>
		<item href="{{menu-item-href1}}" class="small-text-left">{{menu-item-text1}}</item>
		<item href="{{menu-item-href2}}" class="small-text-left">{{menu-item-text2}}</item>
		<item href="{{menu-item-href3}}" class="small-text-left">{{menu-item-text3}}</item>
		<item href="{{menu-item-href4}}" class="small-text-left">{{menu-item-text4}}</item>
		<item href="{{menu-item-href5}}" class="small-text-left">{{menu-item-text5}}</item>
		<item href="{{menu-item-href6}}" class="small-text-left">{{menu-item-text6}}</item>
	</menu>



